# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
env/


# Uploads
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db
